a {
    cursor: pointer;
}

/* .leaflet-top.leaflet-right {
    display: none;
} */

body {
    margin: 0;
}

.main-container {
    display: flex;
    height: 100%
}

.sidebar-panel, .node-table, .link-table, .date-plot-panel, .network-panel, .grid-stack-item {
    border: 1px solid gray;
}

.sidebar-panel{
    flex: 2;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}

.grid-stack {
    flex: 2;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}

.plot-panel {
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    flex-direction: column;
    flex: 3;
}

.node-table, .grid-stack-item {
    flex: 1;
    height: 50%;
    overflow: scroll
}

.link-table {
    flex: 1;
    height: 50%;
    overflow: scroll;
}

.date-plot-panel {
    position: relative;
    flex: 3;
    height: 30%;
    overflow: scroll;
}

.network-panel {
    position: relative;
    flex: 7;
    height: 70%;
    overflow: scroll
}

.fa-question-circle {
    position: absolute;
    top: 20px;
    left: 20px;
}

.global-search {
    position: absolute;
    top: 15px;
    left: 45px;
}


#searchBar {
    width: 200px;
    height: 25px;
}

.fa-sliders-h {
    position: absolute;
    top: 20px;
    right: 20px;
}

.zoom {
    text-align: center;
    width: 30px;
    border: 1px solid gray;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
}

.zoom>hr {
    margin: 5px 0px;
    width: 30px;
}

.sidebar-panel>h4 {
    text-align: center;
}

.playDate {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#datePlot {
    height: 100%;
}

#barPlotControl {
    position: absolute;
    top: 1px;
    right: 3px;
    z-index: 10;
    font-size: 20;
}

#mapid { height: 90%; width: 100%;}

#question2 {
    line-height: 12px;
    width: 18px;
    font-size: 12pt;
    font-family: tahoma;
    margin-top: 0px;
    margin-right: 30px;
    position:absolute;
    top:0;
    right:30;
}

.fa-info-circle {
    position: absolute;
    top: 20px;
    left: 20px;
}

.tooltip-inner {
    max-width: 400px;
    width: 400px; 
}

.fas {
    font-size: 20px;
}

.fa-search {
    font-size: 10px;
    padding: 7 5 3 5;
    border: 1px solid gray;
    border-radius: 5px 0px 0px 5px;
}
